.panel {
  min-height:400px;
}

.graphic-box {
  zoom: 3;
}

.point {
  position: absolute;
  fill:blue;
}

.polygons {
  position: absolute;
}

.polygon {
  position: relative;
  fill:green;
}

.route {
  position: relative;
  stroke: black;
  fill:none;
}