<div class="container">
    <div>
      <label>Point A Location:</label>
      <div>
        <label>X</label>
        <input type="number" [(ngModel)]="srcPoint[0]">
        <label>Y</label>
        <input type="number" [(ngModel)]="srcPoint[1]">
      </div>
    </div>

    <div>
      <label>Point B Location:</label>
      <div>
        <label>X</label>
        <input type="number" [(ngModel)]="dstPoint[0]">
        <label>Y</label>
        <input type="number" [(ngModel)]="dstPoint[1]">
      </div>
    </div>


    <ol>
      Iceberg List:
        <li *ngFor="let iceberg of icebergList">
          <span *ngFor="let coordinate of iceberg; let idx = index">
            [{{coordinate[0]}},{{coordinate[1]}}];
          </span>
          <button (click)=removeIceberg(idx)>Remove Iceberg</button>
        </li>
        <li>
          New Iceburg:
          <ul>
            <li *ngFor="let point of newIceberg; let idx = index">
              <label>X</label>
              <input type="number" [(ngModel)]="newIceberg[idx][0]">
              <label>Y</label>
              <input type="number" [(ngModel)]="newIceberg[idx][1]">
              <button (click)=removePoint(idx)>Remove point</button>
            </li>
          </ul>
          <button (click)="addPoint()">Add Point</button>
          <button (click)="addIceberg()">Add Iceberg</button>
        </li>
    </ol>

    <button (click)=calculateRoute()>Calculate Route</button>

</div>